In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import io

# Import data from json file to dataframe

##### 1. load json files and convert to three dataframe

In [19]:
business_json_file = 'business.json'
user_json_file = 'user.json'
review_json_file = 'review.json'

In [21]:
business = []
user = []
review = []
for line in open(business_json_file, 'r'):
    business.append(json.loads(line))

In [22]:
for line in open(user_json_file, 'r'):
    user.append(json.loads(line))

In [ ]:
for line in open(review_json_file, 'r'):
    review.append(json.loads(line))

In [23]:
business_df = pd.DataFrame.from_records(business)
user_df = pd.DataFrame.from_records(user)

In [26]:
business_df[6:8]

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
6,20 Douglas Woods Drive Southeast,"{'RestaurantsPriceRange2': '2', 'BusinessParki...",5JucpCfHZltJh5r1JabjDg,"Beauty & Spas, Hair Salons",Calgary,None,1,50.943646,-114.001828,Edgeworxx Studio,T2Z 1K4,7,3.5,AB
7,"4545 E Tropicana Rd Ste 8, Tropicana","{'RestaurantsPriceRange2': '3', 'GoodForKids':...",gbQN7vr_caG_A1ugSmGhWg,"Hair Salons, Hair Stylists, Barbers, Men's Hai...",Las Vegas,"{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'...",1,36.099872,-115.074574,Supercuts,89121,3,3.5,NV

In [24]:
user_df[:3]

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10

# Exploratary Data Analysis

### 1.business analytics

In [31]:
business_df_stars = business_df.groupby('stars').count()
business_df_stars[]

#### visualize the stars

In [32]:
ax = business_df_stars.plot.bar(x='stars', y='address')

KeyError: 'stars'