In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import io

# Import data from json file to dataframe

##### 1. load json files and convert to three dataframe

In [19]:
business_json_file = 'business.json'
user_json_file = 'user.json'
review_json_file = 'review.json'

In [21]:
business = []
user = []
review = []
for line in open(business_json_file, 'r'):
    business.append(json.loads(line))

In [22]:
for line in open(user_json_file, 'r'):
    user.append(json.loads(line))

In [35]:
for line in open(review_json_file, 'r'):
    review.append(json.loads(line))

In [61]:
business_df = pd.DataFrame.from_records(business)
user_df = pd.DataFrame.from_records(user)
review_df = pd.DataFrame.from_records(review)

In [63]:
business_df.head(3)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC

In [65]:
user_df.head(3)

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,4.03,1,0,1,2,0,0,1,0,1,...,25,"2015,2016,2017",5,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33
1,3.63,1,0,1,1,0,0,0,0,0,...,16,,4,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06
2,3.71,0,0,0,0,0,0,1,0,0,...,10,,0,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10

In [66]:
review_df.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw

# Exploratary Data Analysis

### 1.business analytics

In [105]:
business_df_state = business_df.groupby('state').count()
business_df_state
business_df_state.sort_values('business_id',ascending = False)[:10]

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars
state,,,,,,,,,,,,,
AZ,56686,48190,56686,56520,56686,45274,56686,56686,56686,56686,56686,56686,56686
NV,36312,30943,36312,36213,36312,28274,36312,36312,36312,36312,36312,36312,36312
ON,33412,27874,33412,33342,33412,24299,33412,33412,33412,33412,33412,33412,33412
NC,14720,12583,14720,14683,14720,11424,14720,14720,14720,14720,14720,14720,14720
OH,14697,12603,14697,14665,14697,11145,14697,14697,14697,14697,14697,14697,14697
PA,11216,9734,11216,11197,11216,8325,11216,11216,11216,11216,11216,11216,11216
QC,9219,8226,9219,9189,9219,6571,9219,9219,9219,9219,9219,9219,9219
AB,8012,6405,8012,7998,8012,5882,8012,8012,8012,8012,8012,8012,8012
WI,5154,4512,5154,5147,5154,4197,5154,5154,5154,5154,5154,5154,5154
IL,1932,1671,1932,1927,1932,1433,1932,1932,1932,1932,1932,1932,1932

In [109]:
business_df_category = business_df.groupby('categories').count()
business_df_category.sort_values('business_id',ascending = False)[:10]

,address,attributes,business_id,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
categories,,,,,,,,,,,,,
"Restaurants, Pizza",1042,967,1042,1042,600,1042,1042,1042,1042,1042,1042,1042,1042
"Nail Salons, Beauty & Spas",1031,964,1031,1031,647,1031,1031,1031,1031,1031,1031,1031,1031
"Pizza, Restaurants",993,915,993,993,558,993,993,993,993,993,993,993,993
"Beauty & Spas, Nail Salons",947,873,947,947,580,947,947,947,947,947,947,947,947
"Food, Coffee & Tea",888,858,888,888,636,888,888,888,888,888,888,888,888
"Mexican, Restaurants",885,847,885,885,552,885,885,885,885,885,885,885,885
"Coffee & Tea, Food",865,839,865,865,632,865,865,865,865,865,865,865,865
"Restaurants, Mexican",853,832,853,853,537,853,853,853,853,853,853,853,853
"Chinese, Restaurants",840,799,840,840,494,840,840,840,840,840,840,840,840
"Hair Salons, Beauty & Spas",831,772,831,831,554,831,831,831,831,831,831,831,831

In [84]:
business_df_stars = business_df.groupby('stars').count()
business_df_stars

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,state
stars,,,,,,,,,,,,,
1.0,4874,2458,4874,4713,4874,2499,4874,4874,4874,4874,4874,4874,4874
1.5,4976,3658,4976,4908,4976,2911,4976,4976,4976,4976,4976,4976,4976
2.0,11426,9111,11426,11373,11426,7283,11426,11426,11426,11426,11426,11426,11426
2.5,18843,15284,18843,18754,18843,12808,18843,18843,18843,18843,18843,18843,18843
3.0,25996,23118,25996,25969,25996,18849,25996,25996,25996,25996,25996,25996,25996
3.5,35008,30624,35008,34972,35008,27155,35008,35008,35008,35008,35008,35008,35008
4.0,35969,32503,35969,35948,35969,29297,35969,35969,35969,35969,35969,35969,35969
4.5,27301,24373,27301,27293,27301,22905,27301,27301,27301,27301,27301,27301,27301
5.0,28216,22644,28216,28197,28216,24072,28216,28216,28216,28216,28216,28216,28216

#### （1）visualize the stars

In [ ]:
business_df_stars.sns

### 2.User analytics

In [113]:
user_df['yelp_age'] = user_df['yelping_since'].apply(lambda x: x[:4])
user_df.groupby('yelp_age').count().sort_values('user_id',ascending = False)[0:10]

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
yelp_age,,,,,,,,,,,,,,,,,,,,,
2015,238660,238660,238660,238660,238660,238660,238660,238660,238660,238660,...,238660,238660,238660,238660,238660,238660,238660,238660,238660,238660
2014,225437,225437,225437,225437,225437,225437,225437,225437,225437,225437,...,225437,225437,225437,225437,225437,225437,225437,225437,225437,225437
2016,199148,199148,199148,199148,199148,199148,199148,199148,199148,199148,...,199148,199148,199148,199148,199148,199148,199148,199148,199148,199148
2013,197220,197220,197220,197220,197220,197220,197220,197220,197220,197220,...,197220,197220,197220,197220,197220,197220,197220,197220,197220,197220
2012,182900,182900,182900,182900,182900,182900,182900,182900,182900,182900,...,182900,182900,182900,182900,182900,182900,182900,182900,182900,182900
2011,168467,168467,168467,168467,168467,168467,168467,168467,168467,168467,...,168467,168467,168467,168467,168467,168467,168467,168467,168467,168467
2017,120531,120531,120531,120531,120531,120531,120531,120531,120531,120531,...,120531,120531,120531,120531,120531,120531,120531,120531,120531,120531
2010,106840,106840,106840,106840,106840,106840,106840,106840,106840,106840,...,106840,106840,106840,106840,106840,106840,106840,106840,106840,106840
2018,78016,78016,78016,78016,78016,78016,78016,78016,78016,78016,...,78016,78016,78016,78016,78016,78016,78016,78016,78016,78016
2009,63977,63977,63977,63977,63977,63977,63977,63977,63977,63977,...,63977,63977,63977,63977,63977,63977,63977,63977,63977,63977

### 3.Review Analytics

# Get some test data (review)

In [85]:
business_test = business_df[:5000]
review_test = review_df[:5000]
user_test = user_df[:5000]

# Sentiment Analysis (review)

#### 1. import packages

In [86]:
from nltk.tokenize import word_tokenize, RegexpTokenizer
import nltk.classify.util
from nltk.classify import NaiveBayesClassifier
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#### 2. Using NLTK extract the reviews' Sentiment

In [87]:
review_test[:3]

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw

In [88]:
sid = SentimentIntensityAnalyzer()
def sentiment_extractor(x):
    ss = sid.polarity_scores(x)
    sentiment = {}
    for k in ss:
        sentiment[k] = ss[k]
    return sentiment

review_test['sentiment'] = review_test['text'].apply(sentiment_extractor)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [89]:
new_review_test = review_test.loc[:,['business_id','user_id','cool','funny','useful','stars','sentiment']]

In [90]:
# seperate the sentiment score
new_review_test['negative'] = new_review_test['sentiment'].apply(lambda x: x['neg'])
new_review_test['neutral'] = new_review_test['sentiment'].apply(lambda x: x['neu'])
new_review_test['positive'] = new_review_test['sentiment'].apply(lambda x: x['pos'])
new_review_test['compound'] = new_review_test['sentiment'].apply(lambda x: x['compound'])

In [93]:
new_review_test[:5000].to_csv('review_sentiment.csv', sep='\t',index = False)